@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
// @font-face {
//     font-family: 'League Spartan';
//     src: url('../resources/LeagueSpartan-Bold.ttf') format('truetype');
// }
$font-family-sans-serif: 'League Spartan', sans-serif;

$font-weight-lighter:         800;
$font-weight-light:           800;
$font-weight-normal:          800;
$font-weight-semibold:        800;
$font-weight-bold:            800;
$font-weight-bolder:          900;
$font-weight-base:            800;
$headings-font-weight:        $font-weight-bold;

// colors
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$light:         $gray-200;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

$corner_lg: 8px;
$corner_md: 5px;
$corner_sm: 3px;
$border_thickness: 2px;

.row-2 {
    height: 50%;
}

.row-3 {
    height: 33%;
}

.row-4 {
    height: 25%;
}

.header-box {
    border-radius: $corner_lg;
    border-width: $border_thickness;
    border-style: solid;
    border-color: black;
    margin-top: 8px;
}

.personal-details-box {
    border-radius: $corner_lg;
    background-color: black;
    color: white;
    padding-top: 6px;
    padding-bottom: 12px;
}

.game-logo {
    max-height: 64px;
    margin: 8px;
}

.header-top {
    margin-top: 6px;
    margin-bottom: -6px;
}

.header-bottom {
    margin-top: -12px;
}

.input-highscore {
    width: 4em;
}

.col-highscore {
    padding-right: 0;
}

.col-player {
    padding-left: 0;
}

.no-resize {
    resize: none;
}

input.stat::-webkit-outer-spin-button,
input.stat::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.stat-value {
    @extend .rounded-circle;
    @extend .border;
    @extend .border-dark;
    @extend .border-4;
    @extend .text-center;
    @extend .align-middle;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .fw-bold;
    @extend .px-0;
    @extend .mx-auto;

    aspect-ratio: 1;
    font-size: 46px;
    width: 80px;
    height: 80px;
    padding-top: 12px;
}

input.stat-value {
    @extend .stat;

    background-color: white;
}

.condition-split {
    @extend .border-end;
    @extend .border-dark;
    // border-width: 2px;
    transform: skewX(-20deg);
    padding: 0px;
    margin: 0px;
}

.condition-limit {
    @extend .text-end;
    align-self: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 0px;
    background: none;
    text-align: right;
    font-size: 14pt;
}

.condition-label {
    font-size: 8pt;
}

input.condition-entry::-webkit-outer-spin-button,
input.condition-entry::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.condition-entry {
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 0px;
    background: none;
    text-align: right;
    font-size: 14pt;
}

.roll-group>button {
    @extend .pt-2;
}

.roll-group>div {
    @extend .bg-secondary;
}

.skill-item {
    @extend .rounded;
    @extend .p-2;

    background-color: white;
}

.skill-name {
    @extend .me-2;
}