<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Spartan:wght@300;800&display=swap" crossorigin>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
    <a id="linker" class="visually-hidden"></a>
    <% for (var chunk in htmlWebpackPlugin.files.js) { %><script src="<%= htmlWebpackPlugin.files.js[chunk] %>?cachelib=false"></script><% } %>
    <script>
      function updateFrameState(x) { mothershipJS.pushUpdate(x) }
    </script>
  </body>
</html>